openapi: 3.0.3
info:
  title: TopTrader API
  version: "1.0"
  description: >
    REST API for the TopTrader stock trading simulator. Session-based auth
    (ADR 0004) — the SESSION cookie is set on register/login and must be sent
    (withCredentials) on every subsequent request. All errors use RFC 7807
    application/problem+json.
servers:
  - url: https://api.toptrader.dev
    description: Production (see ADR 0005)

security:
  - sessionAuth: []

paths:
  /auth/register:
    post:
      summary: Register a new account (US-1)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Account created; SESSION cookie set (auto-login), starting cash_balance = 500.00
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSummary"
        "400":
          description: Invalid email format or password under 8 characters
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: Email already in use
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /auth/login:
    post:
      summary: Log in (US-2)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated; SESSION cookie set
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSummary"
        "401":
          description: Invalid email/password (generic message, no user enumeration) or account temporarily locked
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /auth/logout:
    post:
      summary: Log out, invalidating the current session
      responses:
        "204":
          description: Session invalidated

  /auth/session:
    get:
      summary: Get the current authenticated user (used on page load/refresh)
      responses:
        "200":
          description: Currently authenticated user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserSummary"
        "401":
          description: No active session
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /quotes/{ticker}:
    get:
      summary: Look up a stock quote (US-4)
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          example: AAPL
      responses:
        "200":
          description: Current (or delayed) quote
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quote"
        "404":
          description: Unknown/invalid ticker
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "502":
          description: Market data provider unreachable or erroring
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /trades/buy:
    post:
      summary: Buy whole shares (US-5)
      description: >
        Price is never client-supplied — the server fetches the current quote
        at the moment this request is processed and executes at that price.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TradeRequest"
      responses:
        "201":
          description: Trade executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResult"
        "400":
          description: Insufficient cash, or zero/negative/fractional quantity
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Unknown ticker
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /trades/sell:
    post:
      summary: Sell whole shares held (US-6)
      description: >
        Price is never client-supplied — the server fetches the current quote
        at the moment this request is processed and executes at that price.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TradeRequest"
      responses:
        "201":
          description: Trade executed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeResult"
        "400":
          description: Quantity greater than shares held, or zero/negative/fractional quantity
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Unknown ticker, or no holding in that ticker
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /trades/holdings/{ticker}:
    get:
      summary: Look up the logged-in user's holding in one ticker (US-6)
      description: >
        Used to conditionally show the sell form only when the user actually
        holds shares of this ticker. Cash balance is not included here — see
        GET /auth/session.
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
          example: AAPL
      responses:
        "200":
          description: Current holding in this ticker
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Holding"
        "404":
          description: Unknown ticker, or no holding in that ticker
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /trades/holdings:
    get:
      summary: View all of the logged-in user's current holdings (US-7)
      description: >
        Cash balance is not included here — it's already available from
        GET /auth/session. Returns an empty array (200) when the user holds
        nothing, never a 404.
      responses:
        "200":
          description: List of current holdings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Holding"

  /trades/transactions:
    get:
      summary: View transaction history (US-8)
      description: Full list of the logged-in user's own transactions, most recent first. Not paginated for MVP.
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transaction"

  /users/search:
    get:
      summary: Search for other users by username (Friends, ADR 0049)
      description: >
        Case-insensitive partial/prefix match on username, excluding the
        caller's own account and the shared demo account (a request sent to
        demo could never be resolved). Capped at a small result count.
        Rate-limited to 20/minute per user (ADR 0034).
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            maxLength: 50
          example: nova
      responses:
        "200":
          description: Matching users, each annotated with the caller's relationship to them
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserSearchResult"
        "400":
          description: Blank or over-length query
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /friends/requests:
    post:
      summary: Send a friend request (Friends, ADR 0049)
      description: >
        If the target has already sent the caller a pending request, that
        request is accepted immediately instead of creating a second row
        (crossed-request auto-accept) — the response is 200 in that case,
        201 when a new PENDING row is created. Rate-limited to 20/hour per
        user (ADR 0034).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FriendshipRequest"
      responses:
        "201":
          description: New pending friend request created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FriendshipResponse"
        "200":
          description: Crossed request resolved straight to ACCEPTED
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FriendshipResponse"
        "400":
          description: addresseeId equals the caller's own id
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "403":
          description: Caller is the shared demo account
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: addresseeId does not exist
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "409":
          description: A PENDING request already exists in the same direction, or the two are already friends
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /friends/requests/{friendshipId}:
    delete:
      summary: Cancel the caller's own pending outgoing request (Friends, ADR 0049)
      parameters:
        - name: friendshipId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Request cancelled
        "403":
          description: Caller is not the requester on this friendship, or is the shared demo account
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Friendship does not exist, or is not PENDING
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /friends/requests/{friendshipId}/accept:
    post:
      summary: Accept an incoming friend request (Friends, ADR 0049)
      parameters:
        - name: friendshipId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Request accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FriendshipResponse"
        "403":
          description: Caller is not the addressee on this friendship, or is the shared demo account
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Friendship does not exist, or is not PENDING
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /friends/requests/{friendshipId}/decline:
    post:
      summary: Decline an incoming friend request (Friends, ADR 0049)
      parameters:
        - name: friendshipId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Request declined
        "403":
          description: Caller is not the addressee on this friendship, or is the shared demo account
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: Friendship does not exist, or is not PENDING
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /friends/{userId}:
    delete:
      summary: Remove an accepted friend (Friends, ADR 0049)
      description: Addressed by the other user's id rather than the friendship row's id; either party may call it.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "204":
          description: Friendship removed
        "403":
          description: Caller is the shared demo account
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"
        "404":
          description: No ACCEPTED friendship exists between the caller and userId
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ProblemDetail"

  /friends/requests/incoming:
    get:
      summary: List the caller's pending incoming friend requests (Friends, ADR 0049)
      responses:
        "200":
          description: Incoming requests, most recently sent first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IncomingFriendRequest"

  /friends/requests/outgoing:
    get:
      summary: List the caller's pending outgoing friend requests (Friends, ADR 0049)
      responses:
        "200":
          description: Outgoing requests, most recently sent first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OutgoingFriendRequest"

  /friends:
    get:
      summary: List the caller's accepted friends (Friends, ADR 0049)
      responses:
        "200":
          description: Accepted friends, most recently accepted first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Friend"

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: SESSION

  schemas:
    ProblemDetail:
      type: object
      description: RFC 7807 problem detail (Spring Boot's built-in ProblemDetail type)
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
          format: uri

    RegisterRequest:
      type: object
      required: [email, username, password]
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        password:
          type: string
          format: password
          minLength: 8

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    UserSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        username:
          type: string
        cashBalance:
          type: number
          format: double
          description: Current virtual cash balance (US-3).

    Quote:
      type: object
      properties:
        ticker:
          type: string
        companyName:
          type: string
        price:
          type: number
          format: double
        asOf:
          type: string
          format: date-time

    TradeRequest:
      type: object
      required: [ticker, quantity]
      properties:
        ticker:
          type: string
        quantity:
          type: integer
          minimum: 1

    Holding:
      type: object
      properties:
        ticker:
          type: string
        quantity:
          type: integer
        averageCostBasis:
          type: number
          format: double
        currentPrice:
          type: number
          format: double
        marketValue:
          type: number
          format: double
        unrealizedGainLoss:
          type: number
          format: double

    Transaction:
      type: object
      properties:
        id:
          type: integer
          format: int64
        ticker:
          type: string
        side:
          type: string
          enum: [BUY, SELL]
        quantity:
          type: integer
        pricePerShare:
          type: number
          format: double
        totalAmount:
          type: number
          format: double
        executedAt:
          type: string
          format: date-time

    TradeResult:
      type: object
      properties:
        transaction:
          $ref: "#/components/schemas/Transaction"
        cashBalance:
          type: number
          format: double
        holding:
          $ref: "#/components/schemas/Holding"
          nullable: true
          description: Null when a sell fully liquidates the position

    FriendSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        avatarKey:
          type: string
          nullable: true

    UserSearchResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        avatarKey:
          type: string
          nullable: true
        relationshipStatus:
          type: string
          enum: [NONE, OUTGOING_PENDING, INCOMING_PENDING, FRIENDS]

    FriendshipRequest:
      type: object
      required: [addresseeId]
      properties:
        addresseeId:
          type: integer
          format: int64

    FriendshipResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        requesterId:
          type: integer
          format: int64
        addresseeId:
          type: integer
          format: int64
        status:
          type: string
          enum: [PENDING, ACCEPTED]

    IncomingFriendRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Friendship row id (used to accept/decline)
        requester:
          $ref: "#/components/schemas/FriendSummary"
        createdAt:
          type: string
          format: date-time

    OutgoingFriendRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Friendship row id (used to cancel)
        addressee:
          $ref: "#/components/schemas/FriendSummary"
        createdAt:
          type: string
          format: date-time

    Friend:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: The other user's id (used to remove the friendship)
        username:
          type: string
        avatarKey:
          type: string
          nullable: true
        friendsSince:
          type: string
          format: date-time

